
body {
   
    margin: 0%;
    background-color: black;
    padding: -3px;  
    background-size: cover;  
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#submitButton {
    border-radius: 29px;
    border: none;
    width:88px;
    height: 47px;
    margin-left: 100px;
}

#inputBox {
width: 188px;
height: 19px;
font-family: 'Inter', sans-serif;
color: #FFFFFF;
background-color: black;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
border: none;
}

p {
    margin: 0%;
}

form {
display: flex;
flex-direction: row;
align-items:center;
align-content: center;
justify-content: space-around;
border: 1px solid #FFFFFFE0;
border-radius: 49px;
height: 64px;
width:432px;
}


#carLogo {
    margin-top: 11px;
    margin-left: 40px;
}

#contactusfont {
    margin-right: 40px;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFFE0;
    font-family: 'Inter', sans-serif;
}

.description {
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF80;
    opacity: 50%;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

h1 {
    font-size: 64px;
    color: #FFFFFFE0;
    line-height: 96px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0%;
}
.textBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    color: #FFFFFFE0;
    width:432px;
    height: 233px;
    top: 262px;
    border: 1px;
}

ul {
    display: flex;
    justify-content: center;
    padding-inline-start: 0;
    list-style-type: none;
}
#threelinks {
   
   display: inline;
   font-size: 16px;
   font-family: 'Inter', sans-serif;
    

}
.carImage {
    position: absolute;
    top: 637px;
    
}

header {  
    width: 100%;
    height: 119px;
    background-color: black;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 25px 0 black; 
    font-weight: lighter; 
    
    }  
    header li a {  
        color: #FFFFFFE0;  
        text-decoration: none;  
        }  

        header li {  
            margin: 5px;  
            } 

a:hover {
  color: rgb(68, 62, 62);
}

footer {
    position: absolute;
    color: #FFFFFF80;
    text-align: center;
    bottom:0;
    top:1117px;
}

@media only screen and (max-width: 600px) {
    .kol {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
   
   
    #threelinks {
   
        display: none;
     }
     #contactusfont {
        display: none;

    }
    header {
        justify-content: center;
    }
    #carPicture {
        width:1289.97px;
        height:316px;
  }

  .textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    color: #FFFFFFE0;
    width: 335px;
    height: 233px;
    top: 262px;
    border: 1px;
}

#carLogo {
    margin-right: 40px;
}
form {
    width: 334px;
    height: 64px;
    top: 381px;
    left: 48px;
}

h1{
    font-size: 50px;
    height: 75px;
}
.description {
    height: 72px;
}
    
#submitButton {
   
    margin-left: 0;
}



}   
